<style>
    ul.jekyllcodex_accordion {position: relative; margin: 1.4rem 0!important; border-bottom: 1px solid rgba(0,0,0,0.25); padding-bottom: 0;}
    ul.jekyllcodex_accordion li {border-top: 1px solid rgba(0,0,0,0.25); list-style: none; margin-left: 0;}
    ul.jekyllcodex_accordion li input {display: none;}
    ul.jekyllcodex_accordion li label {display: block; cursor: pointer; padding: 0.75rem 2.4rem 0.75rem 0; margin: 0;}
    ul.jekyllcodex_accordion li div {display: none; padding-bottom: 1.2rem;}
    ul.jekyllcodex_accordion li input:checked + label {font-weight: bold;}
    ul.jekyllcodex_accordion li input:checked + label + div {display: block;}
    ul.jekyllcodex_accordion li label::before {content: "+"; font-weight: normal; font-size: 130%; line-height: 1.1rem; padding: 0; position: absolute; right: 0.5rem; transition: all 0.15s ease-in-out;}
    ul.jekyllcodex_accordion li input:checked + label::before {transform: rotate(-45deg);}
    </style>

{% for section in page.sections %}
    {% if section.heading %}
    <h2>
        <a name="{{ section.heading | downcase }}" class="anchor" style="color: #000000; text-decoration: none;" href="#{{ section.heading | downcase }}">
            {{ section.heading }}
        </a>
    </h2>
    {% endif %}
    {% if section.title %}
    <h3 >
        <a name="{{ section.title | downcase }}" class="anchor" style="color: #000000; text-decoration: none;" href="#{{ section.title | downcase }}">
            {{ section.title }}
        </a>

    </h3>
    {% endif %}
    {% if section.description %}
    <p>{{ section.description | markdownify }}</p>
    {% endif %}
    {% if section.accordion %}
    <ul class="jekyllcodex_accordion">
        {% assign secno = forloop.index %}
        {% for item in section.accordion %}
            <li><input id="accordion{{ secno | times: 10 | plus: forloop.index }}" type="checkbox" /><label for="accordion{{ secno | times: 10 | plus: forloop.index }}">{{ item.title }}</label><div>{{ item.content | markdownify }}</div></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endfor %}