<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% if page.title %}
        <h2 id="chunk-title">{{ page.title }}</h2>
        {% endif %}
        {% include search-lunr.html %}
        {% include accordion.html %}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>